@page "/create-project"
@using Olve.Grids.IO.TileAtlasBuilder

<div
    class="@ClassString(Flex,
               FlexCol,
               ItemsCenter,
               JustifyCenter,
               MaxW("440px"),
               Gap("6"),
               Text(Colors.Active.Text.Most))">

    <div
        class="@ClassString(Grid,
                   GridCols("[25%,75%"),
                   GapX("2"),
                   GapY("4"),
                   ItemsStart,
                   BreakWords,
                   Text(Colors.Active.Text.Ordinary))">
        @foreach (var (left, right) in
                      new (RenderFragment, RenderFragment)[]
                      {
                          (@<span>Project Name</span>,
                              @<TextInputField @bind-Value="ProjectName" Placeholder="Project name"/>),
                          (@<span>Tile Size</span>,
                              @<SizeInputFields Size="TileAtlasBuilder.Configuration.TileSize ?? DefaultTileSize"
                                                OnSizeChanged="OnTileSizeChanged"/>),
                      })
        {
            <div class="@ClassString(Flex,
                            FlexGrow,
                            JustifyEnd,
                            ItemsCenter)">
                @left
            </div>
            <div
                class="@ClassString(Flex,
                           FlexGrow,
                           JustifyStart,
                           ItemsCenter) flex-grow justify-start items-center">
                @right
            </div>
        }
    </div>

    <Button>
        Create project
    </Button>
</div>

@code {
    private const int DefaultGridSize = 8;
    private static readonly Size DefaultTileSize = new(DefaultGridSize, DefaultGridSize);

    private string ProjectName { get; set; } = string.Empty;

    private TileAtlasBuilder TileAtlasBuilder { get; } = new();

    protected override void OnInitialized()
    {
        TileAtlasBuilder.WithTileSize(DefaultTileSize);
    }

    private void OnTileSizeChanged(Size newSize)
    {
        TileAtlasBuilder.WithTileSize(newSize);
    }

}