<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="icon" type="image/png" href="@Assets["favicon.png"]"/>
    <title>AvaloniaBlazorAppTemplate</title>
    <ImportMap/>
    <HeadOutlet/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="https://kit.fontawesome.com/57b66bfad5.js" crossorigin="anonymous"></script>
</body>

</html>