@using UI.Core
<div class="@TW(BorderY(2), Border(Colors.Active.Panels.More), Py(2), WFull)">
    <div
        class="@TW(Flex, FlexRow, ItemsCenter, JustifyCenter, Gap(2), Text(Colors.Active.Text.Ordinary))">
        <TextInputField
            Placeholder="Search Projects"
            Immediate="true"
            IconDescriptor="@IconDescriptor.Search"
            ValueChanged="OnSearchPromptChange"/>
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public EventCallback<string> OnSearchPromptChange { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; } = _ => { };
}