@inherits LayoutComponentBase

<div
    class="@TW(Flex,
               ItemsCenter,
               JustifyCenter,
               MinHScreen,
               Bg(Colors.Active.Panels.Ordinary),
               Text(Colors.Active.Text.Most))">
    @Body
</div>