@inherits LayoutComponentBase

<div
    class="@Tw.ClassString(Tw.Flex,
               Tw.ItemsCenter,
               Tw.JustifyCenter,
               Tw.MinHScreen,
               Tw.Bg(Colors.Active.Panels.Ordinary),
               Tw.Text(Colors.Active.Text.Most))">
    @Body
</div>