<label class="form-check-label">
    <input type="checkbox"
           aria-label="@Label"
           @bind="@Value"
           @bind:event="onchange"
           @bind:after="OnValueChanged">
    @Label
</label>

@code{
    [Parameter] [EditorRequired] public required bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter] public string Label { get; set; } = string.Empty;

    private void OnValueChanged()
    {
        ValueChanged.InvokeAsync(Value);
    }

}