@using UI.Core
@inherits LayoutComponentBase

<div class="@TW(MinHScreen,
                MinWScreen,
                MaxHScreen,
                MaxWScreen,
                OverflowHidden,
                Bg(Colors.Active.Panels.Ordinary),
                Text(Colors.Active.Text.Most))">
    @Body
    <ContextMenuProvider/>
    <ModalProvider/>
</div>