@inherits LayoutComponentBase

<div class="@TW(MinHScreen,
                MinWScreen,
                Bg(Colors.Active.Panels.Ordinary),
                Text(Colors.Active.Text.Most))">
    @Body
    <ContextMenuProvider/>
    <ModalProvider/>
</div>